.page {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #f9f9f9;
  width: 100vw;
  /* height: 177.87vw; */
}

.mod1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
  width: 100vw;
  height: 17.07vw;
}

.view_3 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 0.53vw;
  margin-left: 0.8vw;
  height: 2.27vw;
}

.view {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 10.67vw;
  height: 2.27vw;
}

.shebeiliuliang {
  margin-top: -0.67vw;
  margin-right: 0.53vw;
  width: 2.13vw;
  height: 1.33vw;
}

.sketch {
  opacity: 1;
  margin-right: 0.93vw;
  max-width: 9.33vw;
  height: 2.27vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2.27vw;
  white-space: nowrap;
  color: #030303;
  font-family: SFProText-Regular;
  font-size: 1.6vw;
  font-weight: 400;
}

.zuanshi {
  margin-top: -0.53vw;
  width: 2vw;
  height: 1.47vw;
}

.txt {
  opacity: 1;
  margin-right: 11.73vw;
  max-width: 16vw;
  height: 2.27vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2.27vw;
  white-space: pre;
  color: #030303;
  font-family: SFProText-Semibold;
  font-size: 1.6vw;
  font-weight: 600;
}

.block {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 2.27vw;
}

.pic {
  margin-top: -0.53vw;
  margin-right: 0.67vw;
  width: 0.93vw;
  height: 1.47vw;
}

.percent {
  opacity: 1;
  margin-right: 0.4vw;
  max-width: 7.33vw;
  height: 2.27vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2.27vw;
  white-space: nowrap;
  color: #030303;
  font-family: SFProText-Regular;
  font-size: 1.6vw;
  font-weight: 400;
}

.view_2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: -0.53vw;
  margin-right: 0.13vw;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.4);
  width: 3.2vw;
  height: 1.47vw;
}

.color {
  border-radius: 0;
  background-color: #000000;
  width: 2.67vw;
  height: 0.93vw;
}

.dot {
  margin-top: -0.67vw;
  width: 0.27vw;
  height: 0.53vw;
}

.block_2 {
  display: flex;
  position: relative;
  align-items: center;
  align-self: center;
  flex-direction: row;
  margin-top: 5.2vw;
  width: 91.2vw;
  height: 6.4vw;
}

.fenxiang {
  margin-right: 4.53vw;
  width: 2vw;
  height: 3.47vw;
}

.guanbiWrap {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-right: 24.93vw;
  width: 4.8vw;
  height: 4.8vw;
}

.guanbi {
  width: 2.93vw;
  height: 2.93vw;
}

.word {
  opacity: 1;
  margin-right: 29.73vw;
  max-width: 46.27vw;
  height: 6.4vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 6.4vw;
  white-space: nowrap;
  color: #4a4a4a;
  font-size: 4.53vw;
  font-weight: 500;
}

.largeIcon {
  width: 7.07vw;
  height: 1.73vw;
}

.mod2 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 160.8vw;
}

.view_4 {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: flex-start;
  flex-direction: row;
  width: 100vw;
  height: 160.8vw;
}

.block_4 {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #d8d8d8;
  width: 100vw;
  height: 40.53vw;
  overflow: hidden;
}

.block_3 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  background-size: contain;
  background-image: url(./images/img_30981_1_0.png);
  width: 100vw;
  height: 40.4vw;
}

.tagWrap {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 33.07vw;
  margin-left: 83.47vw;
  border-radius: 0.53vw;
  background-color: #ff4f4d;
  padding-right: 1.6vw;
  padding-left: 1.6vw;
  height: 4.8vw;
}

.tag {
  opacity: 1;
  line-height: 3.73vw;
  white-space: nowrap;
  color: #ffffff;
  font-size: 2.67vw;
  font-weight: 500;
}

.block_13 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 160.8vw;
}

.view_6 {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: flex-start;
  flex-direction: row;
  width: 100vw;
  height: 160.8vw;
}

.view_5 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 40.53vw;
  background-color: #ffffff;
  width: 100vw;
  height: 38.8vw;
}

.title {
  position: relative;
  opacity: 1;
  margin-top: 4vw;
  margin-left: 4vw;
  max-width: 94.4vw;
  height: 6.4vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 6.4vw;
  white-space: nowrap;
  color: #333333;
  font-size: 4.53vw;
  font-weight: 500;
}

.block_5 {
  display: flex;
  position: relative;
  align-items: flex-start;
  align-self: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2.8vw;
  width: 92vw;
  height: 8.27vw;
}

.priceWrap {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 8.27vw;
}

.rmb {
  opacity: 1;
  margin-top: 1.6vw;
  margin-right: 1.2vw;
  max-width: 4.27vw;
  height: 5.33vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 5.33vw;
  white-space: nowrap;
  color: #fc3b19;
  font-size: 3.73vw;
  font-weight: 500;
}

.price {
  opacity: 1;
  margin-right: 0.67vw;
  max-width: 21.07vw;
  height: 8.27vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 8.27vw;
  white-space: nowrap;
  color: #fc3b19;
  font-size: 5.87vw;
  font-weight: 500;
}

.text {
  opacity: 1;
  margin-top: 1.6vw;
  max-width: 5.87vw;
  height: 4vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 4vw;
  white-space: nowrap;
  color: #fc3b19;
  font-size: 2.93vw;
  font-weight: 500;
}

.info {
  opacity: 1;
  margin-top: 2.67vw;
  line-height: 4.4vw;
  white-space: nowrap;
  color: #9b9b9b;
  font-size: 3.2vw;
  font-weight: 400;
}

.block_7 {
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
  align-self: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2.67vw;
  border-radius: 0.8vw;
  background-image: linear-gradient(-90deg, #ff4f4d 0%, #fc3b19 100%);
  padding-right: 3.2vw;
  padding-left: 3.2vw;
  width: 92vw;
  height: 10.67vw;
}

.info_2 {
  opacity: 1;
  line-height: 4.4vw;
  white-space: nowrap;
  color: #ffffff;
  font-size: 3.2vw;
  font-weight: 500;
}

.block_6 {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 5.33vw;
}

.txt_2 {
  opacity: 1;
  margin-right: 0.93vw;
  max-width: 9.07vw;
  height: 4.4vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 4.4vw;
  white-space: nowrap;
  color: #ffffff;
  font-size: 3.2vw;
  font-weight: 400;
}

.container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 1.07vw;
  border-radius: 0.53vw;
  background-color: #ffffff;
  padding-right: 0.8vw;
  padding-left: 1.07vw;
  height: 5.33vw;
}

.num {
  opacity: 1;
  line-height: 4vw;
  white-space: nowrap;
  color: #ff4f4d;
  font-size: 2.93vw;
  font-weight: 500;
}

.word_2 {
  opacity: 1;
  margin-right: 1.07vw;
  max-width: 4.13vw;
  height: 4vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 4vw;
  white-space: nowrap;
  color: #ffffff;
  font-size: 2.93vw;
  font-weight: 500;
}

.container_2 {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 1.6vw;
  border-radius: 0.53vw;
  background-color: #ffffff;
  padding-right: 0.8vw;
  padding-left: 1.07vw;
  height: 5.33vw;
}

.num_2 {
  opacity: 1;
  line-height: 4vw;
  white-space: nowrap;
  color: #ff4f4d;
  font-size: 2.93vw;
  font-weight: 500;
}

.dot_2 {
  margin-right: 1.6vw;
  width: 0.53vw;
  height: 1.87vw;
}

.container_3 {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 1.6vw;
  border-radius: 0.53vw;
  background-color: #ffffff;
  padding-right: 0.8vw;
  padding-left: 1.07vw;
  height: 5.33vw;
}

.num_3 {
  opacity: 1;
  line-height: 4vw;
  white-space: nowrap;
  color: #ff4f4d;
  font-size: 2.93vw;
  font-weight: 500;
}

.dot_3 {
  margin-right: 1.6vw;
  width: 0.53vw;
  height: 1.87vw;
}

.container_4 {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 0.53vw;
  background-color: #ffffff;
  padding-right: 0.8vw;
  padding-left: 1.07vw;
  height: 5.33vw;
}

.num_4 {
  opacity: 1;
  line-height: 4vw;
  white-space: nowrap;
  color: #ff4f4d;
  font-size: 2.93vw;
  font-weight: 500;
}

.block_12 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 160.8vw;
}

.block_9 {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: flex-start;
  flex-direction: row;
  width: 100vw;
  height: 160.8vw;
}

.block_8 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 82vw;
  background-color: #ffffff;
  width: 100vw;
  height: 20.8vw;
}

.group {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 4vw;
  margin-left: 4vw;
  width: 64.8vw;
  height: 12.8vw;
}

.text_2 {
  opacity: 1;
  margin-right: 4vw;
  margin-bottom: 4vw;
  line-height: 4.4vw;
  white-space: nowrap;
  color: #9b9b9b;
  font-size: 3.2vw;
  font-weight: 400;
}

.desc {
  opacity: 1;
  margin-bottom: 4vw;
  line-height: 4.4vw;
  white-space: nowrap;
  color: #333333;
  font-size: 3.2vw;
  font-weight: 400;
}

.word_3 {
  opacity: 1;
  margin-right: 4vw;
  line-height: 4.4vw;
  white-space: nowrap;
  color: #9b9b9b;
  font-size: 3.2vw;
  font-weight: 400;
}

.desc_2 {
  opacity: 1;
  line-height: 4.4vw;
  white-space: nowrap;
  color: #333333;
  font-size: 3.2vw;
  font-weight: 400;
}

.view_7 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  height: 160.8vw;
}

.block_10 {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
  width: 100vw;
  height: 55.33vw;
}

.text_3 {
  position: relative;
  opacity: 1;
  margin-top: 4vw;
  margin-left: 4vw;
  max-width: 94.4vw;
  height: 5.6vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 5.6vw;
  white-space: nowrap;
  color: #4a4a4a;
  font-size: 4vw;
  font-weight: 500;
}

.bannerWrap {
  display: flex;
  position: relative;
  align-items: center;
  align-self: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 4vw;
  background-color: #d8d8d8;
  width: 92vw;
  height: 41.73vw;
  overflow: hidden;
}

.banner {
  width: 92vw;
  height: 41.73vw;
}

.colorDiv {
  position: absolute;
  bottom: 0;
  align-self: center;
  background-color: #fed846;
  width: 100vw;
  height: 16vw;
}

.block_11 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 160.8vw;
}

.group_2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 20.27vw;
  border-top-left-radius: 1.6vw;
  border-top-right-radius: 1.6vw;
  background-color: #ffffff;
  width: 100vw;
  height: 140.53vw;
  overflow: hidden;
}

.container_5 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  border-top-left-radius: 1.6vw;
  border-top-right-radius: 1.6vw;
  background-color: #ffffff;
  width: 100vw;
  height: 20.27vw;
}

.outer {
  display: flex;
  position: relative;
  align-items: center;
  align-self: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 6.53vw;
  width: 89.33vw;
  height: 6.67vw;
}

.title_2 {
  opacity: 1;
  max-width: 81.07vw;
  height: 6.4vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 6.4vw;
  white-space: nowrap;
  color: #333333;
  font-size: 4.53vw;
  font-weight: 500;
}

.angleUpWrap {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-size: contain;
  background-image: url(./images/img_30981_1_1.png);
  width: 6.67vw;
  height: 6.67vw;
}

.angleUp {
  width: 3.87vw;
  height: 3.87vw;
}

.desc_3 {
  position: relative;
  opacity: 1;
  margin-top: 0.67vw;
  margin-left: 5.33vw;
  max-width: 93.07vw;
  height: 4.4vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 4.4vw;
  white-space: nowrap;
  color: #9b9b9b;
  font-size: 3.2vw;
  font-weight: 400;
}

.container_6 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.27vw;
  margin-left: 5.33vw;
  width: 31.47vw;
  height: 5.33vw;
}

.txt_3 {
  opacity: 1;
  line-height: 5.33vw;
  white-space: nowrap;
  color: #333333;
  font-size: 3.73vw;
  font-weight: 500;
}

.word_4 {
  opacity: 1;
  line-height: 5.33vw;
  white-space: nowrap;
  color: #4a4a4a;
  font-size: 3.73vw;
  font-weight: 500;
}

.color_2 {
  position: relative;
  align-self: flex-end;
  margin-top: 5.33vw;
  margin-right: 5.33vw;
  background-color: #e9e9e9;
  width: 69.07vw;
  height: 0.13vw;
}

.container_7 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 5.33vw;
  margin-left: 5.33vw;
  height: 5.33vw;
}

.text_4 {
  opacity: 1;
  margin-right: 5.33vw;
  line-height: 5.33vw;
  white-space: nowrap;
  color: #333333;
  font-size: 3.73vw;
  font-weight: 500;
}

.outer_2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 2.67vw;
  height: 5.33vw;
}

.num_5 {
  opacity: 1;
  margin-right: 1.73vw;
  max-width: 7.6vw;
  height: 5.33vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 5.33vw;
  white-space: nowrap;
  color: #4a4a4a;
  font-size: 3.73vw;
  font-weight: 500;
}

.iconTestWrap {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-right: 2.13vw;
  width: 3.2vw;
  height: 3.2vw;
}

.iconTest {
  width: 1.73vw;
  height: 1.07vw;
}

.color_3 {
  border-radius: 0.27vw;
  background-color: #c3c4cc;
  width: 0.27vw;
  height: 2.67vw;
}

.num_6 {
  opacity: 1;
  line-height: 5.33vw;
  white-space: nowrap;
  color: #4a4a4a;
  font-size: 3.73vw;
  font-weight: 500;
}

.colorDiv_2 {
  position: relative;
  align-self: flex-end;
  margin-top: 5.33vw;
  margin-right: 5.33vw;
  background-color: #e9e9e9;
  width: 69.07vw;
  height: 0.13vw;
}

.container_8 {
  display: flex;
  position: relative;
  align-items: center;
  align-self: center;
  flex-direction: row;
  margin-top: 4.27vw;
  width: 89.33vw;
  height: 8.13vw;
}

.word_5 {
  opacity: 1;
  margin-top: -0.67vw;
  margin-right: 9.07vw;
  line-height: 5.33vw;
  white-space: nowrap;
  color: #333333;
  font-size: 3.73vw;
  font-weight: 500;
}

.num_7 {
  opacity: 1;
  margin-top: -0.67vw;
  margin-right: 31.73vw;
  line-height: 5.33vw;
  white-space: nowrap;
  color: #4a4a4a;
  font-size: 3.73vw;
  font-weight: 500;
}

.outer_3 {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 4.27vw;
  background-color: #f9f9f9;
  padding-right: 9.2vw;
  padding-left: 9.33vw;
  height: 8.13vw;
}

.word_6 {
  opacity: 1;
  margin-top: -0.53vw;
  line-height: 4.4vw;
  white-space: nowrap;
  color: #9b9b9b;
  font-size: 3.2vw;
  font-weight: 500;
}

.color_4 {
  position: relative;
  align-self: flex-end;
  margin-top: 3.73vw;
  margin-right: 5.33vw;
  background-color: #e9e9e9;
  width: 69.07vw;
  height: 0.13vw;
}

.colorDiv_3 {
  position: relative;
  margin-top: 7.87vw;
  background-color: #f9f9f9;
  width: 100vw;
  height: 2.53vw;
}

.title_3 {
  position: relative;
  opacity: 1;
  margin-top: 8.4vw;
  margin-left: 5.33vw;
  max-width: 93.07vw;
  height: 5.07vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 5.33vw;
  white-space: nowrap;
  color: #27282f;
  font-size: 3.73vw;
  font-weight: 500;
}

.container_9 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 2.67vw;
  margin-left: 5.33vw;
  height: 19.2vw;
}

.outer_4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 1.6vw;
  height: 19.2vw;
}

.tagWrap_2 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border-radius: 0.53vw;
  background-color: #f9f9f9;
  width: 20.27vw;
  height: 8.53vw;
}

.tag_2 {
  opacity: 1;
  max-width: 18.67vw;
  height: 4.4vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 4.4vw;
  white-space: nowrap;
  color: #4a4a4a;
  font-size: 3.2vw;
  font-weight: 400;
}

.tagWrap_3 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 2vw;
  border-radius: 0.53vw;
  background-color: #f9f9f9;
  width: 20.27vw;
  height: 8.67vw;
}

.tag_3 {
  opacity: 1;
  max-width: 18.67vw;
  height: 4.4vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 4.4vw;
  white-space: nowrap;
  color: #4a4a4a;
  font-size: 3.2vw;
  font-weight: 400;
}

.outer_5 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 1.87vw;
  width: 20.53vw;
  height: 19.2vw;
}

.tagWrap_4 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border-radius: 0.53vw;
  background-color: #f9f9f9;
  width: 20.27vw;
  height: 8.53vw;
}

.tag_4 {
  opacity: 1;
  max-width: 18.67vw;
  height: 4.4vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 4.4vw;
  white-space: nowrap;
  color: #4a4a4a;
  font-size: 3.2vw;
  font-weight: 400;
}

.tagWrap_5 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 2vw;
  border-radius: 0.53vw;
  background-color: #f9f9f9;
  width: 20.27vw;
  height: 8.67vw;
}

.tag_5 {
  opacity: 1;
  max-width: 18.67vw;
  height: 4.4vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 4.4vw;
  white-space: nowrap;
  color: #4a4a4a;
  font-size: 3.2vw;
  font-weight: 400;
}

.outer_6 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 1.87vw;
  height: 19.2vw;
}

.tagWrap_6 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border-radius: 0.53vw;
  background-color: #f9f9f9;
  width: 20.27vw;
  height: 8.53vw;
}

.tag_6 {
  opacity: 1;
  max-width: 18.67vw;
  height: 4.4vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 4.4vw;
  white-space: nowrap;
  color: #4a4a4a;
  font-size: 3.2vw;
  font-weight: 400;
}

.tagWrap_7 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 2vw;
  border-radius: 0.53vw;
  background-color: #f9f9f9;
  width: 20.27vw;
  height: 8.67vw;
}

.tag_7 {
  opacity: 1;
  max-width: 18.67vw;
  height: 4.4vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 4.4vw;
  white-space: nowrap;
  color: #4a4a4a;
  font-size: 3.2vw;
  font-weight: 400;
}

.outer_7 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 19.2vw;
}

.tagWrap_8 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border-radius: 0.53vw;
  background-color: #f9f9f9;
  width: 20.27vw;
  height: 8.53vw;
}

.tag_8 {
  opacity: 1;
  max-width: 18.67vw;
  height: 4.4vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 4.4vw;
  white-space: nowrap;
  color: #4a4a4a;
  font-size: 3.2vw;
  font-weight: 400;
}

.tagWrap_9 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 2vw;
  border-radius: 0.53vw;
  background-color: #f9f9f9;
  width: 20.27vw;
  height: 8.67vw;
}

.tag_9 {
  opacity: 1;
  max-width: 18.67vw;
  height: 4.4vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 4.4vw;
  white-space: nowrap;
  color: #4a4a4a;
  font-size: 3.2vw;
  font-weight: 400;
}

.tagWrap_10 {
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  margin-top: 1.87vw;
  margin-left: 5.33vw;
  border-radius: 0.53vw;
  background-color: #f9f9f9;
  padding-right: 6.93vw;
  padding-left: 6.93vw;
  height: 8.67vw;
}

.tag_10 {
  opacity: 1;
  line-height: 4.4vw;
  white-space: nowrap;
  color: #4a4a4a;
  font-size: 3.2vw;
  font-weight: 400;
}

.container_10 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 4.53vw;
  background-color: #fd5e02;
  width: 100vw;
  height: 16vw;
}

.word_7 {
  opacity: 1;
  max-width: 98.4vw;
  height: 6vw;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 6vw;
  white-space: nowrap;
  color: #ffffff;
  font-size: 4.27vw;
  font-weight: 500;
}
