.page {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #f9f9f9;
    width: 750px;
    /* height: 1334px; */
}

.mod1 {
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    background-color: #ffffff;
    width: 750px;
    height: 128px;
}

.view_3 {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    margin-top: 4px;
    margin-left: 6px;
    height: 17px;
}

.view {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 80px;
    height: 17px;
}

.shebeiliuliang {
    margin-top: -5px;
    margin-right: 4px;
    width: 16px;
    height: 10px;
}

.sketch {
    opacity: 1;
    margin-right: 7px;
    max-width: 70px;
    height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 17px;
    white-space: nowrap;
    color: #030303;
    font-family: SFProText-Regular;
    font-size: 12px;
    font-weight: 400;
}

.zuanshi {
    margin-top: -4px;
    width: 15px;
    height: 11px;
}

.txt {
    opacity: 1;
    margin-right: 88px;
    max-width: 120px;
    height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 17px;
    white-space: pre;
    color: #030303;
    font-family: SFProText-Semibold;
    font-size: 12px;
    font-weight: 600;
}

.block {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 17px;
}

.pic {
    margin-top: -4px;
    margin-right: 5px;
    width: 7px;
    height: 11px;
}

.percent {
    opacity: 1;
    margin-right: 3px;
    max-width: 55px;
    height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 17px;
    white-space: nowrap;
    color: #030303;
    font-family: SFProText-Regular;
    font-size: 12px;
    font-weight: 400;
}

.view_2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: -4px;
    margin-right: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.4);
    width: 24px;
    height: 11px;
}

.color {
    border-radius: 0;
    background-color: #000000;
    width: 20px;
    height: 7px;
}

.dot {
    margin-top: -5px;
    width: 2px;
    height: 4px;
}

.block_2 {
    display: flex;
    position: relative;
    align-items: center;
    align-self: center;
    flex-direction: row;
    margin-top: 39px;
    width: 684px;
    height: 48px;
}

.fenxiang {
    margin-right: 34px;
    width: 15px;
    height: 26px;
}

.guanbiWrap {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-right: 187px;
    width: 36px;
    height: 36px;
}

.guanbi {
    width: 22px;
    height: 22px;
}

.word {
    opacity: 1;
    margin-right: 223px;
    max-width: 347px;
    height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 48px;
    white-space: nowrap;
    color: #4a4a4a;
    font-size: 34px;
    font-weight: 500;
}

.largeIcon {
    width: 53px;
    height: 13px;
}

.mod2 {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    width: 750px;
    height: 1206px;
}

.view_4 {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: flex-start;
    flex-direction: row;
    width: 750px;
    height: 1206px;
}

.block_4 {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #d8d8d8;
    width: 750px;
    height: 304px;
    overflow: hidden;
}

.block_3 {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    background-size: contain;
    background-image: url(./images/img_30981_1_0.png);
    width: 750px;
    height: 303px;
}

.tagWrap {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 248px;
    margin-left: 626px;
    border-radius: 4px;
    background-color: #ff4f4d;
    padding-right: 12px;
    padding-left: 12px;
    height: 36px;
}

.tag {
    opacity: 1;
    line-height: 28px;
    white-space: nowrap;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}

.block_13 {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    width: 750px;
    height: 1206px;
}

.view_6 {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: flex-start;
    flex-direction: row;
    width: 750px;
    height: 1206px;
}

.view_5 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 304px;
    background-color: #ffffff;
    width: 750px;
    height: 291px;
}

.title {
    position: relative;
    opacity: 1;
    margin-top: 30px;
    margin-left: 30px;
    max-width: 708px;
    height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 48px;
    white-space: nowrap;
    color: #333333;
    font-size: 34px;
    font-weight: 500;
}

.block_5 {
    display: flex;
    position: relative;
    align-items: flex-start;
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 21px;
    width: 690px;
    height: 62px;
}

.priceWrap {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 62px;
}

.rmb {
    opacity: 1;
    margin-top: 12px;
    margin-right: 9px;
    max-width: 32px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 40px;
    white-space: nowrap;
    color: #fc3b19;
    font-size: 28px;
    font-weight: 500;
}

.price {
    opacity: 1;
    margin-right: 5px;
    max-width: 158px;
    height: 62px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 62px;
    white-space: nowrap;
    color: #fc3b19;
    font-size: 44px;
    font-weight: 500;
}

.text {
    opacity: 1;
    margin-top: 12px;
    max-width: 44px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px;
    white-space: nowrap;
    color: #fc3b19;
    font-size: 22px;
    font-weight: 500;
}

.info {
    opacity: 1;
    margin-top: 20px;
    line-height: 33px;
    white-space: nowrap;
    color: #9b9b9b;
    font-size: 24px;
    font-weight: 400;
}

.block_7 {
    box-sizing: border-box;
    display: flex;
    position: relative;
    align-items: center;
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    border-radius: 6px;
    background-image: linear-gradient(-90deg, #ff4f4d 0%, #fc3b19 100%);
    padding-right: 24px;
    padding-left: 24px;
    width: 690px;
    height: 80px;
}

.info_2 {
    opacity: 1;
    line-height: 33px;
    white-space: nowrap;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
}

.block_6 {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 40px;
}

.txt_2 {
    opacity: 1;
    margin-right: 7px;
    max-width: 68px;
    height: 33px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 33px;
    white-space: nowrap;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
}

.container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 8px;
    border-radius: 4px;
    background-color: #ffffff;
    padding-right: 6px;
    padding-left: 8px;
    height: 40px;
}

.num {
    opacity: 1;
    line-height: 30px;
    white-space: nowrap;
    color: #ff4f4d;
    font-size: 22px;
    font-weight: 500;
}

.word_2 {
    opacity: 1;
    margin-right: 8px;
    max-width: 31px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px;
    white-space: nowrap;
    color: #ffffff;
    font-size: 22px;
    font-weight: 500;
}

.container_2 {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 12px;
    border-radius: 4px;
    background-color: #ffffff;
    padding-right: 6px;
    padding-left: 8px;
    height: 40px;
}

.num_2 {
    opacity: 1;
    line-height: 30px;
    white-space: nowrap;
    color: #ff4f4d;
    font-size: 22px;
    font-weight: 500;
}

.dot_2 {
    margin-right: 12px;
    width: 4px;
    height: 14px;
}

.container_3 {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 12px;
    border-radius: 4px;
    background-color: #ffffff;
    padding-right: 6px;
    padding-left: 8px;
    height: 40px;
}

.num_3 {
    opacity: 1;
    line-height: 30px;
    white-space: nowrap;
    color: #ff4f4d;
    font-size: 22px;
    font-weight: 500;
}

.dot_3 {
    margin-right: 12px;
    width: 4px;
    height: 14px;
}

.container_4 {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 4px;
    background-color: #ffffff;
    padding-right: 6px;
    padding-left: 8px;
    height: 40px;
}

.num_4 {
    opacity: 1;
    line-height: 30px;
    white-space: nowrap;
    color: #ff4f4d;
    font-size: 22px;
    font-weight: 500;
}

.block_12 {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    width: 750px;
    height: 1206px;
}

.block_9 {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: flex-start;
    flex-direction: row;
    width: 750px;
    height: 1206px;
}

.block_8 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 615px;
    background-color: #ffffff;
    width: 750px;
    height: 156px;
}

.group {
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 30px;
    width: 486px;
    height: 96px;
}

.text_2 {
    opacity: 1;
    margin-right: 30px;
    margin-bottom: 30px;
    line-height: 33px;
    white-space: nowrap;
    color: #9b9b9b;
    font-size: 24px;
    font-weight: 400;
}

.desc {
    opacity: 1;
    margin-bottom: 30px;
    line-height: 33px;
    white-space: nowrap;
    color: #333333;
    font-size: 24px;
    font-weight: 400;
}

.word_3 {
    opacity: 1;
    margin-right: 30px;
    line-height: 33px;
    white-space: nowrap;
    color: #9b9b9b;
    font-size: 24px;
    font-weight: 400;
}

.desc_2 {
    opacity: 1;
    line-height: 33px;
    white-space: nowrap;
    color: #333333;
    font-size: 24px;
    font-weight: 400;
}

.view_7 {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    width: 750px;
    height: 1206px;
}

.block_10 {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    align-items: flex-start;
    flex-direction: column;
    background-color: #ffffff;
    width: 750px;
    height: 415px;
}

.text_3 {
    position: relative;
    opacity: 1;
    margin-top: 30px;
    margin-left: 30px;
    max-width: 708px;
    height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 42px;
    white-space: nowrap;
    color: #4a4a4a;
    font-size: 30px;
    font-weight: 500;
}

.bannerWrap {
    display: flex;
    position: relative;
    align-items: center;
    align-self: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    background-color: #d8d8d8;
    width: 690px;
    height: 313px;
    overflow: hidden;
}

.banner {
    width: 690px;
    height: 313px;
}

.colorDiv {
    position: absolute;
    bottom: 0;
    align-self: center;
    background-color: #fed846;
    width: 750px;
    height: 120px;
}

.block_11 {
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.4);
    width: 750px;
    height: 1206px;
}

.group_2 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 152px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: #ffffff;
    width: 750px;
    height: 1054px;
    overflow: hidden;
}

.container_5 {
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: #ffffff;
    width: 750px;
    height: 152px;
}

.outer {
    display: flex;
    position: relative;
    align-items: center;
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 49px;
    width: 670px;
    height: 50px;
}

.title_2 {
    opacity: 1;
    max-width: 608px;
    height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 48px;
    white-space: nowrap;
    color: #333333;
    font-size: 34px;
    font-weight: 500;
}

.angleUpWrap {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-size: contain;
    background-image: url(./images/img_30981_1_1.png);
    width: 50px;
    height: 50px;
}

.angleUp {
    width: 29px;
    height: 29px;
}

.desc_3 {
    position: relative;
    opacity: 1;
    margin-top: 5px;
    margin-left: 40px;
    max-width: 698px;
    height: 33px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 33px;
    white-space: nowrap;
    color: #9b9b9b;
    font-size: 24px;
    font-weight: 400;
}

.container_6 {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2px;
    margin-left: 40px;
    width: 236px;
    height: 40px;
}

.txt_3 {
    opacity: 1;
    line-height: 40px;
    white-space: nowrap;
    color: #333333;
    font-size: 28px;
    font-weight: 500;
}

.word_4 {
    opacity: 1;
    line-height: 40px;
    white-space: nowrap;
    color: #4a4a4a;
    font-size: 28px;
    font-weight: 500;
}

.color_2 {
    position: relative;
    align-self: flex-end;
    margin-top: 40px;
    margin-right: 40px;
    background-color: #e9e9e9;
    width: 518px;
    height: 1px;
}

.container_7 {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    margin-top: 40px;
    margin-left: 40px;
    height: 40px;
}

.text_4 {
    opacity: 1;
    margin-right: 40px;
    line-height: 40px;
    white-space: nowrap;
    color: #333333;
    font-size: 28px;
    font-weight: 500;
}

.outer_2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 20px;
    height: 40px;
}

.num_5 {
    opacity: 1;
    margin-right: 13px;
    max-width: 57px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 40px;
    white-space: nowrap;
    color: #4a4a4a;
    font-size: 28px;
    font-weight: 500;
}

.iconTestWrap {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-right: 16px;
    width: 24px;
    height: 24px;
}

.iconTest {
    width: 13px;
    height: 8px;
}

.color_3 {
    border-radius: 2px;
    background-color: #c3c4cc;
    width: 2px;
    height: 20px;
}

.num_6 {
    opacity: 1;
    line-height: 40px;
    white-space: nowrap;
    color: #4a4a4a;
    font-size: 28px;
    font-weight: 500;
}

.colorDiv_2 {
    position: relative;
    align-self: flex-end;
    margin-top: 40px;
    margin-right: 40px;
    background-color: #e9e9e9;
    width: 518px;
    height: 1px;
}

.container_8 {
    display: flex;
    position: relative;
    align-items: center;
    align-self: center;
    flex-direction: row;
    margin-top: 32px;
    width: 670px;
    height: 61px;
}

.word_5 {
    opacity: 1;
    margin-top: -5px;
    margin-right: 68px;
    line-height: 40px;
    white-space: nowrap;
    color: #333333;
    font-size: 28px;
    font-weight: 500;
}

.num_7 {
    opacity: 1;
    margin-top: -5px;
    margin-right: 238px;
    line-height: 40px;
    white-space: nowrap;
    color: #4a4a4a;
    font-size: 28px;
    font-weight: 500;
}

.outer_3 {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 32px;
    background-color: #f9f9f9;
    padding-right: 69px;
    padding-left: 70px;
    height: 61px;
}

.word_6 {
    opacity: 1;
    margin-top: -4px;
    line-height: 33px;
    white-space: nowrap;
    color: #9b9b9b;
    font-size: 24px;
    font-weight: 500;
}

.color_4 {
    position: relative;
    align-self: flex-end;
    margin-top: 28px;
    margin-right: 40px;
    background-color: #e9e9e9;
    width: 518px;
    height: 1px;
}

.colorDiv_3 {
    position: relative;
    margin-top: 59px;
    background-color: #f9f9f9;
    width: 750px;
    height: 19px;
}

.title_3 {
    position: relative;
    opacity: 1;
    margin-top: 63px;
    margin-left: 40px;
    max-width: 698px;
    height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 40px;
    white-space: nowrap;
    color: #27282f;
    font-size: 28px;
    font-weight: 500;
}

.container_9 {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 40px;
    height: 144px;
}

.outer_4 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 12px;
    height: 144px;
}

.tagWrap_2 {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border-radius: 4px;
    background-color: #f9f9f9;
    width: 152px;
    height: 64px;
}

.tag_2 {
    opacity: 1;
    max-width: 140px;
    height: 33px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 33px;
    white-space: nowrap;
    color: #4a4a4a;
    font-size: 24px;
    font-weight: 400;
}

.tagWrap_3 {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    border-radius: 4px;
    background-color: #f9f9f9;
    width: 152px;
    height: 65px;
}

.tag_3 {
    opacity: 1;
    max-width: 140px;
    height: 33px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 33px;
    white-space: nowrap;
    color: #4a4a4a;
    font-size: 24px;
    font-weight: 400;
}

.outer_5 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 14px;
    width: 154px;
    height: 144px;
}

.tagWrap_4 {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border-radius: 4px;
    background-color: #f9f9f9;
    width: 152px;
    height: 64px;
}

.tag_4 {
    opacity: 1;
    max-width: 140px;
    height: 33px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 33px;
    white-space: nowrap;
    color: #4a4a4a;
    font-size: 24px;
    font-weight: 400;
}

.tagWrap_5 {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    border-radius: 4px;
    background-color: #f9f9f9;
    width: 152px;
    height: 65px;
}

.tag_5 {
    opacity: 1;
    max-width: 140px;
    height: 33px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 33px;
    white-space: nowrap;
    color: #4a4a4a;
    font-size: 24px;
    font-weight: 400;
}

.outer_6 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 14px;
    height: 144px;
}

.tagWrap_6 {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border-radius: 4px;
    background-color: #f9f9f9;
    width: 152px;
    height: 64px;
}

.tag_6 {
    opacity: 1;
    max-width: 140px;
    height: 33px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 33px;
    white-space: nowrap;
    color: #4a4a4a;
    font-size: 24px;
    font-weight: 400;
}

.tagWrap_7 {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    border-radius: 4px;
    background-color: #f9f9f9;
    width: 152px;
    height: 65px;
}

.tag_7 {
    opacity: 1;
    max-width: 140px;
    height: 33px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 33px;
    white-space: nowrap;
    color: #4a4a4a;
    font-size: 24px;
    font-weight: 400;
}

.outer_7 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 144px;
}

.tagWrap_8 {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border-radius: 4px;
    background-color: #f9f9f9;
    width: 152px;
    height: 64px;
}

.tag_8 {
    opacity: 1;
    max-width: 140px;
    height: 33px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 33px;
    white-space: nowrap;
    color: #4a4a4a;
    font-size: 24px;
    font-weight: 400;
}

.tagWrap_9 {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    border-radius: 4px;
    background-color: #f9f9f9;
    width: 152px;
    height: 65px;
}

.tag_9 {
    opacity: 1;
    max-width: 140px;
    height: 33px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 33px;
    white-space: nowrap;
    color: #4a4a4a;
    font-size: 24px;
    font-weight: 400;
}

.tagWrap_10 {
    box-sizing: border-box;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    margin-top: 14px;
    margin-left: 40px;
    border-radius: 4px;
    background-color: #f9f9f9;
    padding-right: 52px;
    padding-left: 52px;
    height: 65px;
}

.tag_10 {
    opacity: 1;
    line-height: 33px;
    white-space: nowrap;
    color: #4a4a4a;
    font-size: 24px;
    font-weight: 400;
}

.container_10 {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 34px;
    background-color: #fd5e02;
    width: 750px;
    height: 120px;
}

.word_7 {
    opacity: 1;
    max-width: 738px;
    height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 45px;
    white-space: nowrap;
    color: #ffffff;
    font-size: 32px;
    font-weight: 500;
}